﻿
@{
    ViewBag.Title = "Instance";
}

<h2> Ec2 Instance </h2>

<div class="row">
    <div class="col-md-12">
        <div style="min-width:900px; max-width:1200px;">
            <div id="cpudiv" style="height: 300px; min-width: 30%; max-width: 40%; float:left;"></div> 
            <div id="nindiv" style="height: 300px; min-width: 30%; max-width: 40%; float:left;"></div>
            <div id="noutdiv" style="height: 300px; min-width: 30%; max-width: 40%; float:left;"></div>
        </div>
    </div>
</div>

    @{
        <script src="/Scripts/jquery-1.10.2.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:36292/Ec2instance/GetIndexRender",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    success: function (response) {
                        var aData = response;
                        console.log(aData);
                        var cpudata = [];
                        aData.CPUTimeline.forEach(function (value, index) {
                            var x = new Date(value.Date);
                            var date = Number(x);
                            var Average = Number(value.Average);
                            cpudata.push([date, Average]);
                        });
                        cpudata = cpudata.sort();

                        var networkindata = [];
                        aData.NetworkInTimeline.forEach(function (value, index) {
                            var x = new Date(value.Date);
                            var date = Number(x);
                            var Average = Number(value.Average);
                            networkindata.push([date, Average]);
                        });
                        networkindata = networkindata.sort();
                        console.log(networkindata);

                        var networkoutdata = [];
                        aData.NetworkOutTimeline.forEach(function (value, index) {
                            var x = new Date(value.Date);
                            var date = Number(x);
                            var Average = Number(value.Average);
                            networkoutdata.push([date, Average]);
                        });

                        networkoutdata = networkoutdata.sort();
                        Highcharts.chart('cpudiv', {
                            xAxis: {
                                type: 'datetime',
                                title: {
                                    text: 'Date'
                                }
                            },
                            title: {
                                text: 'CPU Utilization for last 7 days'
                            },
                            legend: {
                                enabled: false
                            },
                            series: [{
                                showInLgend: false,
                                name: 'Average CPU',
                                data: cpudata
                            }]
                        });
                        Highcharts.chart('nindiv', {
                            xAxis: {
                                type: 'datetime',
                                title: {
                                    text: 'Date'
                                }
                            },
                            title: {
                                text: 'Network In'
                            },
                            legend: {
                                enabled: false
                            },
                            series: [{
                                showInLgend: false,
                                name: 'bytes/sec',
                                data: networkindata
                            }]
                        });
                        Highcharts.chart('noutdiv', {
                            xAxis: {
                                type: 'datetime',
                                title: {
                                    text: 'Date'
                                }
                            },
                            title: {
                                text: 'Network Out'
                            },
                            legend: {
                                enabled: false
                            },
                            series: [{
                                showInLgend: false,
                                name: 'bytes/sec',
                                data: networkoutdata
                            }]
                        });
                    }
                });

                function OnSuccess(response) {

                }
                function OnError(response) {
                    alert("Error !");
                }
            });
        </script>
    }





