﻿@using CAM.Models;

@{
    ViewBag.Title = "Graph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var instance = this.ViewData.Model;
}
    
<div class="col-md-12">
    <div class="col-md-10">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">EC2 Monitoring</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Value</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Instance Id</td>
                                <td><span class="label label-success">@instance.InstanceId</span></td>
                                
                            </tr>
                            @*<tr>
                                <td>PlatForm</td>
                                <td><span class="label label-warning">@instance.PlatForm</span></td>
                                
                            </tr>*@
                            <tr>
                                <td>Status</td>
                                <td><span class="label label-danger">@instance.Stat</span></td>
                                
                            </tr>
                            <tr>
                                <td>IP Address</td>
                                <td><span class="label label-info">@instance.IPAddress</span></td>
                                
                            </tr>
                            <tr>
                                <td>Launch Time</td>
                                <td><span class="label label-warning">@instance.LaunchTime</span></td>
                                
                            </tr>
                            <tr>
                                <td>Image Id</td>
                                <td><span class="label label-danger">@instance.ImageId</span></td>
                                
                            </tr>
                            <tr>
                                <td>Instance Type</td>
                                <td><span class="label label-success">@instance.InstanceType</span></td>
                                
                            </tr>
                            <tr>
                                <td>Iam Profile</td>
                                <td><span class="label label-success">@instance.IamInstanceProfile</span></td>
                                
                            </tr>
                            <tr>
                                <td>Vpc Id</td>
                                <td><span class="label label-success">@instance.VpcId</span></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            
        </div>
        <!-- /.box-body -->    
        
    </div>
    
        <input type="submit" id="btnStats" value="Get Statistics" class="btn  btn-md col-md-2 btn-success" />
    
    <div class="row" style="display:none" id="averagerow">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="cpuaverage"><sup style="font-size: 20px">%</sup></h3>

                    <p>CPU Average</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
          
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 id="ninaverage"></h3>

                    <p>NetworkIn Average</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
          
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 id="noutaverage"></h3>

                    <p>NetworkOut Average</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
          
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3 id="memoryaverage"></h3>

                    <p>Memory</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
          
            </div>
        </div>
        <!-- ./col -->
    </div>

    <div class="row"  style="display:none" id="graphrow">

        <div class="col-md-12" >
            <div class="box box-solid">
                <div class="box-header">
                    <i class="fa fa-bar-chart-o"></i>
                    <h3 class="box-title">Timeline for last 7 days</h3>
                </div>
                <div class="box-body">
                    <div>
                        <div id="cpudiv" style="height: 300px; width: 327px;  float:left; min-height: 1px; padding-top: 10px; padding-left: 10px; padding-right: 10px;"></div>
                        <div id="cpucredusage" style="height: 300px; width: 327px; float:left; min-height: 1px; padding-top: 10px; padding-left: 10px; padding-right: 10px;"></div>
                        <div id="cpucredbalance" style="height: 300px; width: 327px;  float:left; min-height: 1px; padding-top: 10px; padding-left: 10px; padding-right: 10px;"></div>
                        <div id="nindiv" style="height: 300px; width: 327px;  float:left; min-height: 1px; padding-top: 10px; padding-left: 10px; padding-right: 10px;"></div>
                        <div id="noutdiv" style="height: 300px; width: 327px; float:left; min-height: 1px; padding-top: 10px; padding-left: 10px; padding-right: 10px;"></div>
                        <div id="memorydiv" style="height: 300px; width: 327px; float:left; min-height: 1px; padding-top: 10px; padding-left: 10px; padding-right: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/series-label.js"></script>
    <script src="~/Scripts/exporting.js"></script>
    <script>

    $("#btnStats").click(function (data) {
        var instanceID = $('#txtInstanceId').text();
        
            console.log(instanceID);
            $.ajax({
                type: "GET",
                url: "http://localhost:36292/Graph/GetEC2Graph",
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (response) {
                    $("#graphrow").show();
                    $("#averagerow").show();
                    var aData = response;
                    $("#cpuaverage").html(aData.CPUUtilization);
                    $("#ninaverage").html(aData.NetworkIn);
                    $("#noutaverage").html(aData.NetworkOut);
                    $("#memoryaverage").html(aData.Memory);
                    
                    console.log(aData);
                    var cpudata = [];
                    aData.CPUTimeline.forEach(function (value, index) {
                        var x = new Date(value.Date);
                        var date = Number(x);
                        var Average = Number(value.Average);
                        cpudata.push([date, Average]);
                    });
                    cpudata = cpudata.sort();

                    var networkindata = [];
                    aData.NetworkInTimeline.forEach(function (value, index) {
                        var x = new Date(value.Date);
                        var date = Number(x);
                        var Average = Number(value.Average);
                        networkindata.push([date, Average]);
                    });
                    networkindata = networkindata.sort();
                    
                    var networkoutdata = [];
                    aData.NetworkOutTimeline.forEach(function (value, index) {
                        var x = new Date(value.Date);
                        var date = Number(x);
                        var Average = Number(value.Average);
                        networkoutdata.push([date, Average]);
                    });
                    networkoutdata = networkoutdata.sort();

                    var creditusagedata = [];
                    aData.CPUCreditUsageTimeline.forEach(function (value, index) {
                        var x = new Date(value.Date);
                        var date = Number(x);
                        var Average = Number(value.Average);
                        creditusagedata.push([date, Average]);
                    });
                    creditusagedata = creditusagedata.sort();

                    var creditbalancedata = [];
                    aData.CPUCreditBalanceTimeline.forEach(function (value, index) {
                        var x = new Date(value.Date);
                        var date = Number(x);
                        var Average = Number(value.Average);
                        creditbalancedata.push([date, Average]);
                    });
                    creditbalancedata = creditbalancedata.sort();

                    var memorydata = [];
                    //aData.MemoryTimeline.forEach(function (value, index) {
                      //  var x = new Date(value.Date);
                      //  var date = Number(x);
                      // var Average = Number(value.Average);
                      //  memorydata.push([date, Average]);
                    //});
                    memorydata = memorydata.sort();
                    Highcharts.chart('cpudiv', {
                        xAxis: {
                            type: 'datetime',
                            title: {
                                text: 'Date'
                            }
                        },
                        title: {
                            text: 'CPU Utilization'
                        },
                        legend: {
                            enabled: false
                        },
                        series: [{
                            showInLgend: false,
                            name: 'Average CPU',
                            data: cpudata
                        }]
                    });
                    Highcharts.chart('nindiv', {
                        xAxis: {
                            type: 'datetime',
                            title: {
                                text: 'Date'
                            }
                        },
                        title: {
                            text: 'Network In'
                        },
                        legend: {
                            enabled: false
                        },
                        series: [{
                            showInLgend: false,
                            name: 'bytes/sec',
                            data: networkindata
                        }]
                    });
                    Highcharts.chart('noutdiv', {
                        xAxis: {
                            type: 'datetime',
                            title: {
                                text: 'Date'
                            }
                        },
                        title: {
                            text: 'Network Out'
                        },
                        legend: {
                            enabled: false
                        },
                        series: [{
                            showInLgend: false,
                            name: 'bytes/sec',
                            data: creditusagedata
                        }]
                    });
                    Highcharts.chart('cpucredusage', {
                        xAxis: {
                            type: 'datetime',
                            title: {
                                text: 'Date'
                            }
                        },
                        title: {
                            text: 'CPU CreditUsage'
                        },
                        legend: {
                            enabled: false
                        },
                        series: [{
                            showInLgend: false,
                            name: 'count',
                            data: creditusagedata
                        }]
                    });
                    Highcharts.chart('cpucredbalance', {
                        xAxis: {
                            type: 'datetime',
                            title: {
                                text: 'Date'
                            }
                        },
                        title: {
                            text: 'CPU CreditBalance'
                        },
                        legend: {
                            enabled: false
                        },
                        series: [{
                            showInLgend: false,
                            name: 'count',
                            data: creditbalancedata
                        }]
                    });
                    Highcharts.chart('memorydiv', {
                        xAxis: {
                            type: 'datetime',
                            title: {
                                text: 'Date'
                            }
                        },
                        title: {
                            text: 'Memory Utilization (Custom)'
                        },
                        legend: {
                            enabled: false
                        },
                        series: [{
                            showInLgend: false,
                            name: 'average',
                            data: memorydata
                        }]
                    });
                },
                error: function (msg) { alert("error"); }
            });
    });
    </script>
}
